{% extends "base.html" %}



{% block body_contents %}

<center>

<div class="nav">
	<Form method="POST">
		<button type="submit" name="home" style="width: 100px; height: 30px;">Dashboard</button>
		<button type="submit" name="profile" style="width: 100px; height: 30px;">Profile</button>
		<button type="submit" name="notifications" style="width: 100px; height: 30px;">Notifications</button>
		<input placeholder="Search" name="query" style="width: 200px; height: 25px;"/>
		<button type="submit" name="search" style="width: 30px; height: 30px;">?</button>
		<button type="submit" name="log_out" style="width: 100px; height: 30px;">Log out</button>

	</Form>
</div>

<h2>Possible People</h2>
{% if people %}
	{% for person in people %}
		{% for i in person %}
			{{ i[0] }}
			<br>
		{% endfor %}
	{% endfor %}
{% endif %}

<h2>Possible Posts</h2>
{% if posts %}
	{% for post in posts %}
		{% for i in post %}
			<br>
			{{ i[0] }}
			<br>
		{% endfor %}
	{% endfor %}
{% endif %}


</center>
{% endblock %}